body{
    background: rgba(122, 82, 160, 0.363);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: rebeccapurple;
    background-color: rgb(165, 132, 197);
    text-align: center;
}
h2{
    color: rgb(83, 16, 146);
}
h3{
    color: rgb(93, 39, 145);
}
