body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
}

.navegacao{ /* altera o cxabeçalho do site */
    background-color: #257EAF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 3px;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}

table{
    width: 100%;
    text-align: justify;
}
.b{
    text-align: right;
}

.titulo{
    font-size: xx-large;
}

.textohist{
    width: 90%;
}

h1{
     text-align: center;
}

.navegacao{
    
    margin-bottom: 20px;
}

.navegacao a{ /* altera os hyperlinks da classe navegação */
    color: #ffffff;
    text-decoration: none; /* retira o sublinhado do hypoerlink */
}

.navegacao a:hover{ /* altera a cor dos hyperlinks quando passa o mouse - não é permanente */
    color: #d8dbdfe3;
}





.rodape{
    background-color: #257EAF;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 13px;
}

@media screen and (maxwidth: 600px){
    .principal, .conteudo {
        width:100%;
        flex-direction: column;
        padding: 0px
    }
}